# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE-specific files
.vscode/
.idea/
*.swp
*.swo
*~

# Operating System Files
.DS_Store
Thumbs.db

# Streamlit
.streamlit/secrets.toml

# Data files
*.csv
*.xlsx
*.json

# Log files
*.log

# Temporary files
*.tmp

# Compiled files
*.com
*.class
*.dll
*.exe
*.o
*.so

# Package files
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Database files
*.db
*.sql
*.sqlite

# Backup files
*.bak
*.backup